* {
  margin:0;
  padding:0;
}

header {
  clear:both;
  text-align:center;
  color: #FF4A14; 
  padding: 4.5em;
}

body {
  font-family: 'Raleway', sans-serif;
}

footer {
    padding: 1em 0;
    text-align:center;
}

a {
  text-decoration: none;
}

input {
    width:150px;
}

label,input {
    display:inline-block;
}

label {
  width:50px;
  text-align:right;
  margin-right:10px;
}

ul {
  list-style: none;
}

div#wrapper2{
  background-color: #333;
  height:3em;
}

nav ul {
    height: 3em; 
     background-color: #404040;
 
}


nav li {
  height:3em;
  float:left;

  
}

nav li a {
  display:block;
  color:white;
  text-align:left;
  padding: 1em 1.143em;
}

.li_header{
   background-color: #FF4A14;
   width:50%;
}

.li_header a{
	text-align:center;	
}

.li_back {
 text-align:right;
 background-color: #404040;
 width:50%;
}

.li_back a:hover:not(.active) {
    color: #FF4A14;  
    font-size:1.09em;    
}

section#seccion_principal ul {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

section#seccion_principal li {
  border-top: 1px solid #e8e0d6;
}

section#seccion_principal ul a{
  color:#FF4A14;
  font-size: 1.2em;
  font-weight: bold;
}

section#seccion_secundaria {
  /*display: none;*/
  padding: 1em;
  margin-top: 1em
  border: 1px solid #000;
  border-radius: 6px;     
  box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;     
  text-align:center;
}

#nuevo_btn {
  background-image: url(../img/orange_plus_small.png);
  background-repeat:no-repeat;
  background-color: transparent;
  background-position: 0px 0px; 
  cursor: pointer;
  border: none;  
  height: 60px;
  width: 60px;
}

#wrapper { 
  width: 100%;
  margin: 0 auto;
}


section#seccion_secundaria .sec_2_form_row { 
  margin:0.5em; 
}


/* Para tabletas */
@media only screen and (min-width:600px) {
  #wrapper { 
    width: 600px;
    margin: 0 auto;
  }
  .li_header{
		width:35%;
	}

  .li_back {
		width:65%;
	}
}

/* Para Escritorio */
@media only screen and (min-width:810px) {
  #wrapper { 
    width: 810px;
    margin: 0 auto;
  }
  
    .li_header{
		width:25%;
	}

  .li_back {
		width:75%;
	}
}

