body { 
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	margin:0;
	padding:0;
	font-size:1em;
}		

header { 
    margin:0; padding: 0; 
    width: 100%;   
}

header h1 {
    margin: 0;
    color: #FF4A14; 
    padding: 0.5em;
    text-align:center;
}

header h3 {
    margin: 0;
    color: ##FF4A14; 
    padding: 0.2em;
    text-align:center
}

section {
    width: 100%;
    padding:1.3em;
}

input#button{
	height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px hidden #000;
    text-align: center;
}

section#seccion_principal ul a {
    
    color:#FF4A14;
    font-weight:bold;
    font-size:1.2em;
    text-decoration: none; 
}

section#seccion_secundaria {
	margin:0;
	padding:0.5em;
	/*display:none; */
	display:block;	 	
	/*background-color: #FDE0BF;*/
}

ul {
 list-style: none;   
}


.desc {
    padding: 1.2em;
}

footer {
    margin: 0;
    padding: 3em 0;
    width: 100%;
    
    color:#FF4A14;
    font-weight:bold;
    text-align:center;
    font-size:1.1em;
}


nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li{
 width:50%;
 float:left;  
}

section#seccion_principal ul{
  margin:0;
  padding:2em;	
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

section#seccion_principal ul li{
  border-bottom: 1px solid #E8E0D6;  
  
}

section#seccion_secundaria  {
	text-align:center;
	border: 1px solid #0000;
	background-color: #CED5D7;
	border-radius: 6px;	
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;	
}


.il_back a:hover:not(.active) {
    background-color: #111 no-repeat center center;
    color: #FFFFFF;  
	font-size:1.05em;    
}

.il_header {	
    background-color:#FF4A14;
}

nav li a{
    display:block;
    color:#FFF5E8;
    text-align: center;
	margin: 0;    
    padding: 3% 5%;
    text-decoration: none;
}




div{
	display:inline-block;
}

/* Para tabletas */
@media only screen and (min-width: 600px) {
	body { 
		background-color: #FDE0BF;		
		padding-left:5%;
		padding-right:5%;
	}
	nav li{
		width:30%;
		float:left;
	}
	
	
	section#seccion_secundaria {
		background-color: #FDE0BF;  
	}
	
	section#seccion_principal ul li{
		border-bottom: 1px solid white; 
	}  
}	

/* Para Escritorio */
@media only screen and (min-width: 810px) {
	body { 
	    background-color: #FDE0BF;	
		padding-left:10%;
		padding-right:10%;		
	}
	nav li{
		width:25%;
		float:left;
	}
	
	section#seccion_secundaria {
		background-color: #FDE0BF;  
	}
	
	section#seccion_principal ul li{
		border-bottom: 1px solid white;   
	}
	
}

	
	
	


